<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kinerjaberkah/
  
  RewriteCond %{REQUEST_URI} ^/kinerjaberkah/api [NC]
  RewriteRule ^ - [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /kinerjaberkah/index.html [L]
</IfModule>
